@import '_settings.scss';

.navbar-board {
   height: $navbar-board-height;
   padding-left: $gap;
   display: flex;
   align-items: center;
   background-color: $board-bg-color;
   font-size: 1.1rem;

   .add-new-column {
      background-color: hsla(0, 0%, 100%, 0.24);
      min-width: 120px;
      max-width: 120px;
      line-height: 32px;
      // padding: 4px 0 4px 15px;
      cursor: pointer;
      color: white;
      margin-left: $gap;
      font-size: 15px;
      border-radius: $column-border-radius;

      &:hover {
         background-color: hsla(0, 0%, 100%, 0.44);
      }
   }

   .enter-new-column {
      min-width: 220px;
      max-width: 220px;
      // background-color: $list-bg-color;
      line-height: 32px;
      // padding: 5px 10px;
      margin-left: $gap;
      border-radius: $column-border-radius;

      input.input-enter-new-column {
         margin-left: 5px;
      }
   }

   .column-dropdown-actions {
      flex: 600%;

      button.dropdown-btn {
         padding: 0 10px;
         font-size: 16px;
         font-weight: bold;
         letter-spacing: 1px;
         background-color: $list-bg-color;
         border-color: $list-bg-color;
         color: $app-main-text-color;
         &:after {
            content: '...';
            border: none;
         }
         &:hover {
            background-color: darken($list-bg-color, 10);
            border-color: darken($list-bg-color, 10);
         }
      }
      .dropdown-menu {
         min-width: 200px;
         padding: 0;
         a.dropdown-item {
            padding: 0.1rem 1rem;
            line-height: 32px;
            font-size: 14px;
            &:not(:last-child) {
               border-bottom: 1px solid #ccc;
            }
         }
      }
   }
}
